src/flow.json
[{"id":"36bddff151125e93","type":"tab","label":"Ethernet IP Data","disabled":false,"info":"","env":[]},{"id":"1ae9456647bb143f","type":"mqtt in","z":"36bddff151125e93","name":"","topic":"ie/d/j/simatic/v1/eip1/dp/r/#","qos":"2","datatype":"auto-detect","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":190,"y":200,"wires":[["105f16b61df67512"]]},{"id":"105f16b61df67512","type":"debug","z":"36bddff151125e93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"9f52a8b4d0cbb89e","type":"mqtt in","z":"36bddff151125e93","name":"","topic":"ie/m/j/simatic/v1/eip1/dp","qos":"2","datatype":"json","broker":"6bd4974.1100768","nl":false,"rap":false,"inputs":0,"x":180,"y":80,"wires":[["d1a815074a7010be"]]},{"id":"d1a815074a7010be","type":"debug","z":"36bddff151125e93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"26adee14a5cafb15","type":"comment","z":"36bddff151125e93","name":"Read metadata","info":"","x":120,"y":40,"wires":[]},{"id":"87443d52b8336ad5","type":"comment","z":"36bddff151125e93","name":"Write data","info":"","x":100,"y":280,"wires":[]},{"id":"a63614e236d4ba27","type":"mqtt out","z":"36bddff151125e93","name":"","topic":"ie/d/j/simatic/v1/eip1/dp/w/CompactLogix","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6bd4974.1100768","x":540,"y":340,"wires":[]},{"id":"e08a79f6a73ae491","type":"inject","z":"36bddff151125e93","name":"set parameter Var_Real (value1)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"104\",\"val\":\"111\"}]}","payloadType":"json","x":210,"y":340,"wires":[["a63614e236d4ba27"]]},{"id":"48e6f114106c3db5","type":"comment","z":"36bddff151125e93","name":"Read data","info":"","x":100,"y":140,"wires":[]},{"id":"c5eddc2ed0be4407","type":"mqtt out","z":"36bddff151125e93","name":"","topic":"ie/d/j/simatic/v1/eip1/dp/w/CompactLogix/default","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6bd4974.1100768","x":560,"y":400,"wires":[]},{"id":"300968066d772ed7","type":"inject","z":"36bddff151125e93","name":"set parameter Var_Real (value2)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"vals\":[{\"id\":\"104\",\"val\":\"222\"}]}","payloadType":"json","x":210,"y":400,"wires":[["c5eddc2ed0be4407"]]},{"id":"6bd4974.1100768","type":"mqtt-broker","name":"","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
